<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}"> -->
    <!-- Input relevent styles for each HTML page-->
    {% block styles %}{% endblock %}

    <!-- Links to Flask function which renders the corresponding HTML file-->
    <nav>
        <div class="navigation__container">
            <a href="{{ url_for('home') }}">
                <button class="navigation">Shopping list</button>
            </a>
            <a href="{{ url_for('stock') }}">
                <button class="navigation">Stock</button>
            </a>
        </div>
    </nav>
    
</head>
<body>
    <!-- Input content for each HTML page-->
    {% block content %}{% endblock %}
</body>
</html>