{% extends "base.html" %}
{% block title %}Shopping list{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shopping_list.css') }}">
{% endblock %}
{% block content %}
<div id="recipes">
    <h1>Recipes</h1>
    <div class="all__recipe__container">
        {% for key, items in all_recipes.items() %}
            <div class="recipe__container__full">
                <div class="recipe__container">
                    <h2 class="recipe__title">{{ key }}-</h2>
                    {% for meta_items in meta_info[key] %}
                    <h4>Number of days- {{ meta_items[0] }}</h4>
                    <h4>Complete meal? {{ meta_items[1] }}</h4>
                    {% endfor %}
                    {% for item in items %}
                        <table class="recipe__content">
                            <tr> 
                            <td>{{ item[0] }}:</td>
                            <td>{{ item[1] }} {{ item[2] }} [{{ item[3] }}]</td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
                <button type="submit" class="modification__button" value="{{ key }}">Modify recipe</button>
                <button type="submit" class="delete__button" value="{{ key }}">Delete recipe</button>
            </div>
        {% endfor %}
    </div>
</div>
<div id="shopping__list">
    <h1>Shopping list</h1>
    <div id="table__container"></div>
</div>
<script src="{{url_for ('static', filename='styles/values_only.js')}}"></script>
<script src="{{url_for ('static', filename='styles/button_colour.js')}}"></script>
<script src="{{url_for ('static', filename='styles/generate_shopping_list.js')}}"></script>
<script src="{{url_for ('static', filename='styles/modify_recipe.js')}}"></script>
{% endblock %}