/* Set the defult diplay of the button__remove__ingredient*/
.new__recipe__content{
    display: none;
}

#ingredientContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.new__recipe__content__format, .update__recipe__content{
    padding-top: 1em;
    background-color: rgb(178, 251, 165);
}