#recipes{
    float: left;
    width: 50%;
}

.all__recipe__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 2em;
}

.recipe__container {
    width: 100%;
    /* Set a maximum height for the container */
    max-height: 300px;
    /* Add a vertical scrollbar when the content overflows */
    overflow-y: auto;
    transition: background-color 0.3s; /* Add a smooth transition effect */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.recipe__container.clicked {
    background-color: rgba(0, 0, 0, 0.3); /* Greyed out or transparent background color */
}

#table__container table {
    border-spacing: 20px;
  }